.test{
    list-style-type: none;
    font-size: 30px;
    &>li{
        cursor: pointer;
    }
    &>li.completed{
        font-style: italic;
        color: aqua;
        text-decoration: line-through;

    }
}